

.cargando > h3 {
    text-align: center;
    font-family: arial;
}


#noTrespassingOuterBarG {
    height: 20px;
    width: 200px;
    border: 1px solid #B3A6B3;
    overflow: hidden;
    background-color: #FFFFFF;
    margin: 0 auto;
}
.noTrespassingBarLineG {
    background-color: #B3A6B3;
    float: left;
    width: 14px;
    height: 120px;
    margin-right: 24px;
    margin-top: -28px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.noTrespassingAnimationG {
    width: 236px;
    -moz-animation-name: noTrespassingAnimationG;
    -moz-animation-duration: 1.8s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -webkit-animation-name: noTrespassingAnimationG;
    -webkit-animation-duration: 1.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -ms-animation-name: noTrespassingAnimationG;
    -ms-animation-duration: 1.8s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: noTrespassingAnimationG;
    -o-animation-duration: 1.8s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: noTrespassingAnimationG;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#noTrespassingFrontBarG {
}
@-moz-keyframes noTrespassingAnimationG {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:-38px;
    }
}
@-webkit-keyframes noTrespassingAnimationG {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:-38px;
    }
}
@-ms-keyframes noTrespassingAnimationG {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:-38px;
    }
}
@-o-keyframes noTrespassingAnimationG {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:-38px;
    }
}
@keyframes noTrespassingAnimationG {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:-38px;
    }
}